@import url('./assets/fonts/comic-neue.css');


:root{
    --ff-sans-serif: 'Comic Neue','Comic Sans MS','Comic Sans',cursive;
    --ff-serif: 'Comic Neue Angular','Comic Sans MS','Comic Sans',cursive;
}


*,
*::before,
*::after {
    box-sizing: border-box;
    position: relative;
}

/* Visually Hidden Content | Screen Reader Only */
.visually-hidden:not(:focus):not(:active) {
    position: absolute;

    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;

    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* === Basics === */
html {font-size: 100%;} /*16px*/

body {
    font-family: var(--ff-sans-serif);
    font-weight: 400;
    line-height: 1.75;
    margin: 0 auto;
}

h1,h2,h3,h4,h5,h6{
    font-family: var(--ff-serif);
}

p {
    margin: 0 0 1rem;
}

header, section {
    display: grid;
    justify-content: center;
    align-content: center;
}

header {
    background-color: hsl(120, 100%, 5%);
}

section {
    font-size: 1.5em;
    padding: 1em 10%;
}

h1 {
    font-size: 3em;
    margin: 0;
}

a {
    color: black;
}

ul {
    margin: .5em 0;
    list-style: none;
    margin-left: 0;
    padding-left: 0;
}

ul li {
    margin-bottom: 1em;
}

ul li img {
    margin-right: 1rem;
    position: relative;
    top: .2em
}

ul li span {
    margin-right: 1rem;
    position: relative;
    top: -.05em;
}

ul li ul {
    font-size: .85em;
    list-style:disc;
    margin-left: 2em;
}

ul li ul li {
    margin-bottom: .25em;
}